# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# The above makes sure all files without extensions are ignored (in order to prevent the binary from being added to the repository)

# unignore the makefile
!Makefile
!LICENSE



# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
